body{
    box-sizing: border-box;
    font-size: large;
}
button{
   box-shadow: 2px 2px 10px grey; 
}
header{
    width: 60%;
    text-align: center;
    margin: 0 auto;
}
#operation{
    width: 100%;
    height:auto;
}
#input{
    width: 60%;
    padding: 5px;
    border: none;
    box-shadow: 5px 5px 10px rgb(203, 200, 200);
}
#list{
    width: 60%;
    height: auto;
    padding: 10px;
    margin:  auto;
    margin-top: 20px;
    border-radius: 15px;
    
}
#list > p{
    border-bottom: 1px solid rgb(197, 195, 195);
}
#add{
    background-color: rgb(69, 221, 39);
    border: 0;
    padding: 7px;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}
#for_edit{
    display: none;
    background-color: white;
    width: 70%;
    justify-self: center;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 2px 2px 10px grey;
    margin-top: 20px;
}
#for_edit > input{
    width: 90%;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 10px grey;
    padding: 5px;
}
#for_edit > button {
    background-color: rgb(72, 216, 72);
    border: 0;
    padding: 7px 9px 7px 9px;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 1%;
}
.input_style{
    width: 60%;
    justify-self: center;
}